Project-*/
Project/*
!Project/*.uvprojx
!Project/*.s
!Project/*.uvmpw
!Project/Firmware

Project_GD32/*
!Project_GD32/*.uvprojx
!Project_GD32/*.s
!Project_GD32/*.uvmpw
!Project_GD32/Firmware

.vscode

*.bin
*.tmp
*.uvgui.*
*.uvoptx
